:root {
	--darkest-orange: #ffbb0066;
	--dark-orange: #ffbb00cc;
	--bright-orange: #f8c031;
	--orange: #fcd256;
	--darkest-yellow: #333022;
	--dark-yellow: #3f3b00;
	--yellow: #f6e35a;
	--light-yellow: #9f9d83;
  --lightest-yellow: #e1dec7;
	--grey: #46432f;
	--dark-green: #282617;
	--black: #000000;
}